APP_NAME = PlantCare

DATABASE_URL=postgresql://user:password@localhost:5432/mydb
SECRET_KEY=mysecret

ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
OPENROUTER_API_KEY=examole
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
OPENROUTER_MODEL=openrouter/free
PLANTNET_API_KEY = 2b101bfCm2biuTXQA0bqjMJu
PLANTNET_API_URL=https://my-api.plantnet.org/v2/identify/all