APP_NAME = PlantCare

DATABASE_URL = postgresql///something

SECRET_KEY =mysecret

ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES = 30
REFRESH_TOKEN_EXPIRES_DAY = 7


PLANT_API_KEY = example
PLANTNET_API_URL=https://my-api.plantnet.org/v2/identify/all